@tailwind base;
@tailwind components;
@tailwind utilities;

.reading > p {
    @apply mb-4;
}

.marquee div {
    display: inline-block;
    width: max-content;

    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 15s linear infinite;
}

@media screen and (min-width: 691px) {
    .marquee div {
        animation: marquee 35s linear infinite;
    }
}

.marquee div:hover {
  animation-play-state: paused
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

[x-cloak] {
    display: none !important;
}
